<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Login Time</th>
            <th>Logout Time</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Trial Admin</td>
            <td>root</td>
            <td>2024-01-21 10:45</td>
            <td>2024-01-21 11:05</td>
            <td>Local</td>
        </tr>
        <tr>
            <td>Ahan Jaiswal</td>
            <td>emp1</td>
            <td>2024-01-21 11:10</td>
            <td>2024-01-21 11:45</td>
            <td>Delhi</td>
        </tr>
    </tbody>
</table>

<script>
    window.initUserLogs = function() {
        
    }
</script>
